.languages-features-container {
  white-space: pre-wrap;
}
.image-description {
  color: gray;
  font-family: monospace;
  font-size: 0.75rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-for-video {
  color: gray;
}

.quart-3 {
  font-size: 12px;
  font-family: monospace;
}

.base-project-card {
  background-color: rgb(245, 245, 245);
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

.project-name {
  font-weight: 700;
  margin-top: 10px;
}

.project-details {
  margin-top: 16px;
}

.project-subtitle {
  color: #607d8b;
}

.project-subitem-title {
  font-weight: 700;
}

.project-description {
  margin-top: 16px;
  white-space: pre-wrap;
}
